* {
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(151, 198, 170);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


