* {
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(98, 160, 100);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.main {
    padding-bottom: 20px;
}